{
   "presets": [
      ["env", {
         "modules": false,
         "targets": {
            "node": "current",
            "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
         }
      }],
      "stage-2",
      "react"
   ],
   "plugins": [
      "transform-runtime", "transform-decorators-legacy", "react-hot-loader/babel"
   ]
}