/* App 容器组件样式 */
@import 'common';

#app-container {
   @include wh(4rem,5rem);
   position: relative;
   @include flexv;
   border: 0.01rem solid #666;
   border-radius: 0.05rem;

   .app-header {
      width: 100%;
      height: 0.5rem;
      @include flexh;
      border-bottom: 0.01rem solid #666;
      font-size: 0.3rem;
      color: #992828;
   }

   .app-body {
      width: 100%;
      height: 0;
      flex-grow: 1;
      @include flexv;
      overflow: hidden;
   }
}
