/* Home 容器组件样式 */
@import 'common';

#home-container {
   @include wh100;
   background: #eee;
   border-radius: 0 0 0.05rem 0.05rem;
   position: relative;
   .new-member {
      width: 100%;
      height: 0.5rem;
      background: #333;
      color: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
   .member-list-wrap {
      @include pa(0.5rem,0,0,0);
      overflow-y: auto;
   }
   .member-list {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      @include flexv;
      & > li {
         width: 100%;
         height: 0.44rem;
         border-bottom: 0.01rem dashed #999;
         display: flex;
         justify-content: space-around;
         align-items: center;
      }
   }
   .home-link {
      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translateX(-50%);
   }
}
